*,::before, ::after{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

:root{
    --primary-color: #6943ff ;
    --secondary-color:  #d9cfff;
    --tertiary-color:#150069;;
}


.parent-container{
    margin-top: 2rem;
}
.heading-section {
background-color: var(--primary-color);
text-align: center;
}
.main-width-container{
    width: 70%;
    margin: 0 auto 0rem auto ;
    padding: 2rem;
    
}

h2{
    color: var(--secondary-color);
}

.input-container{

   display: flex;
   flex-direction: column;

}

.input-width-container{
 width: 30%;
  margin: 0 auto;
}

#input-el{
   padding: 1.6rem;
   margin-top: 1rem;
    font-size: 2rem;
  font-weight: bold;
  border: 2px solid var(--tertiary-color);
  text-align: center;
  color: var(--tertiary-color);
}

#button-el{
  margin-top: 1rem;
  cursor: pointer;
  color: var(--secondary-color) ;
  font-size: 1.2rem;
  font-weight: bold;
   background-color: var(--tertiary-color);
}

#button-el:hover{
    color: var(--tertiary-color);
    background-color: var(--secondary-color);
}

.b-r-10px{
    border-radius: 10px;
    padding: 1rem;
    border-width: 0;
}

.conversion-parent-container{
    padding: 3rem;
    border: 2px solid var(--primary-color);
}

.conversion-parent-container{
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

.unit-converter-boxes{
    padding: 2rem;
    background-color: #d9cfff;
    text-align: center;
}

.conversion-title{
    font-size: 1.2rem;
    color: var(--tertiary-color);
    margin-bottom: 2rem;
   
}